/*
* Thunderbird userChrome.css for use with my customized ARC Theme variant
*
* For version 60 or later *ONLY*, will probably break and uglyfy older versions
* of TB.
*
* it's meant to be used with the default 3 panel split layout
*/

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/*
* this changes the font for ALL UI elements
* does not affect content (=emails in the viewing pane)
*/
* {
    font-size: 10pt !important;
  /*font-family: "Lucida Grande", "sans" !important;*/
  font-family: "Oxygen-Sans", "sans" !important;

}

/*
* the following 3 are for the identity chooser add-on
* to adopt the identity coloring in the message composer to a dark theme
* otherwise, the message header fields are to bright with insufficient
* contrast.
*/
#identitychooser-send-notification a {
    text-decoration: underline;
    font-weight: bold;
}
#msgSubject, .addressingWidgetCell:not(:first-child) {
    background-color: rgba(100, 100, 100, 0.5) !important;
}
#msgIdentity {
    background-color: rgba(155, 155, 155, 0.5) !important;
}
/*
* !!! end identity chooser addon !!!
*/

/* XNOTE text color */
.boite-de-texte, #titre
{
  color: black !important;
}
/*
* !!! end XNote 1!!!
*/
/*
#main-window, #navigation-toolbox {
/*   background-color: #333 !important;*/
}
*/
#dirTree-splitter, #sidebar-splitter, #threadpane-splitter,
#results-splitter, #compose-toolbar-sizer, #attachment-splitter,
#additionalFolderPaneSplitter, #threadpane-splitter,#calendarDisplayDeck, #today-pane-splitter {
    border: 0 !important;
}

#folderpane_splitter {
    min-width: 1px !important;
    width: 1px !important;
    max-width: 1px !important;
    /*border-left: 1px solid #333 !important;
    border-right: 1px solid #333 !important;*/
    border: none !important;
    margin-right:0 !important;
    background-color: #333 !important;
}

#threadpane-splitter {
  min-height: 4px !important;
  max-height: 4px !important;
  background-color: #333 !important;

}

#sidebar-splitter {
  min-width:3px !important;
  width: 3px !important;
}

/*
* the following deals with tabs:
*
* 1. make them square
* 2. Blend the active tab with the toolbar background
* 3. Subtle background highlight for the hovered tab
* 4. Slightly reduce the hight
* --------------------------------------------------------------------
*/

#tabs-toolbar {
  margin-top: 0 !important;
  margin-bottom: -2px !important;
  background-color: black !important;
}


#tabs-toolbar * {
  background-color: transparent !important;
}

#tabs-toolbar .tab-text {
    font-size: 10pt !important;
}

#tabs-toolbar .tabmail-tab {
  border:  none !important;
  background: none !important;
  margin-top: 2px !important;
  max-height: 30px !important;
  height:30px !important;
  min-height: 30px !important;
  padding-bottom:3px !important;
}

#tabs-toolbar .tabmail-tab[selected]{
  background: -moz-dialog !important;
  border-top: 2px solid #404088 !important;
  margin-top: 0 !important;
  border-bottom: none !important;
}

/* --------------------------------------------------------------------
* end of tabs section
*/

#quick-filter-bar, #quick-filter-bar * {
  background-color: -moz-dialog !important;
  border:  none !important;
}

window {
  --viewColor: #ccc !important;
  --viewBackground: #222 !important;
  --viewMonthCurrentBackground: #333 !important;
  --viewWeekendBackground: #262722 !important;
  --viewBorderColor: #222 !important;
  --viewMonthOtherBackground: #111 !important;
  --viewMonthDayOtherBackground: #111 !important;
  --viewMonthDayOtherLabelBackground: #111 !important;

  --viewTodayDayLabelBackground: #22222B !important;
  --viewTodayLabelColor: #fff !important;
  --viewHighlightBorderColor: #377ca8 !important;

  --viewTodayLabelBackground: #947553 !important;
  --viewTodayLabelSelectedBackground: #947553 !important;
  --viewTodayBorderColor: #947553 !important;
  --viewTodayLabelSelectedColor: #FFFFFF !important;
  --viewTodayBackground: #292929 !important;

  --viewMonthDayOffLabelBackground: #333 !important;

  --viewMonthDayBoxLabelColor: #B1B1B3 !important;

  --viewMonthDayBoxSelectedBackground: #5f99ce !important;
  --viewDayBoxSelectedBackground: #3973a8 !important;
  --viewDayBoxOtherSelectedBackground: #3973a8 !important;
  --viewMonthDayBoxSelectedColor: #FFFFFF !important;
}

#mini-day-image,
#mini-day-image:-moz-window-inactive,
#today-pane-panel,
#today-pane-panel:not(:-moz-lwtheme):-moz-window-inactive {
  background: -moz-dialog !important;
  background-color: -moz-dialog !important;
}

.agenda-container-box:hover,
.agenda-allday-container-box:hover,
.agenda-checkbox:hover {
  background: -moz-dialog !important;
  background-color: -moz-dialog !important;
}


#today-pane-splitter {
  border-top: 1px solid #222 !important;
  background-color: -moz-dialog !important;
}


minimonth {
  background-color: -moz-dialog !important;
  padding: 0px !important;
}

#today-minimonth-box {
  background-color: -moz-dialog !important;
}

#agenda-toolbar,
#agenda-toolbar:-moz-window-inactive {
  background-color: -moz-dialog !important;
}

.calendar-task-tree > treechildren::-moz-tree-row(completed, selected, focus) {
  background-color: #333 !important;
}

minimonth, minimonth * {
  background-color: -moz-dialog !important;
  border-color: rgb(36, 36, 36) !important;
}

/*
* background for the folder tree. normally white, but since we zebra-ize
* it, i set it to color #2 and odd rows to white. You can do this the other
* way around, of course, if you prefer a white folder tree background
*/
#folderTree {
  background-color: -moz-dialog !important;
  border: none !important;
  margin-top: 10px !important;
  /*border-right: 1px solid transparent !important;*/
}

/*
* zebra-ize the folder tree
* (alternating row background colors
* add some minor padding
* --------------------------------------------------------------------
*/

#folderTree treechildren::-moz-tree-line {
  border: 1px solid #888 !important;
} 


#folderTree > treechildren::-moz-tree-row(odd) {
  border: 1px solid transparent !important;
  background-color: #333535 !important;
}

#folderTree > treechildren::-moz-tree-row(selected) {
  border: 1px solid transparent !important;
  background-color:#007bbb !important;
}

#folderTree > treechildren::-moz-tree-row(hover) {
  border: 1px solid transparent !important;
  background-color: #777 !important;
}

/*
* adjust the row height to the slightly increase font size
*/
#folderTree > treechildren::-moz-tree-row {
  height:24px !important;
  min-height: 24px !important;
}

#folderTree > treechildren::-moz-tree-line {
    visibility: visible !important;
}

/*
* bigger font for the folder tree
*/
#folderTree > treechildren::-moz-tree-cell-text {
  font-size:10pt !important;
}

/*
* some padding left and right (looks better imho, otherwise the)
*/
#folderTree > treechildren::-moz-tree-cell {
    padding: 0 8px !important;
}

#folderTree > treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true) {
font-weight: bold !important;
}
/*
* end of folder tree section
* --------------------------------------------------------------------
*/


#threadTree {
    padding: 0 !important;
    background-color: -moz-dialog !important;
}
#threadTree treechildren::-moz-tree-row {
  height:24px !important;
  max-height: 24px !important;
  padding-top: 1px !important;  /* this might be font dependent? */
  margin: 0 !important;
  background-color: -moz-dialog !important;
}

#threadTree treechildren::-moz-tree-line {
  border: 1px solid #888 !important;
} 

/*
* alternating row colors in the message index pane
*/
#threadTree treechildren {
  font-size:10pt !important;
}

#threadTree treechildren::-moz-tree-row(even) {
  border: 1px solid transparent !important;
  background-color:#333535 !important;
}

#threadTree treechildren::-moz-tree-row(selected) {
  border: 1px solid transparent !important;
  background-color:#005b99 !important;
  margin: 0 !important;
}

#threadTree treechildren::-moz-tree-row(hover) {
  border: 1px solid transparent !important;
  background-color:#777 !important;
  margin: 0 !important;
}


#threadTree treechildren::-moz-tree-cell(unread) {
  /*background-color: #500000 !important;*/
  /*color: yellow !important;*/
}

#threadTree treechildren::-moz-tree-cell-text(unread) {
  color: orangered !important;
  font-weight: bold !important;
}

/*
* make group headers stick out a bit more prominently
* (give them a darker background)
*/
#threadTree treechildren::-moz-tree-row(dummy){
    background: #113 !important;
    border: 1px solid transparent !important;
    margin-bottom: none !important;
    margin: 0 !important;
}

/*
* tweaks for the message pane header
* make it white, add some padding
*/
header-view-button-box {
  padding: 0px !important;
  border: 1px solid rgba(0,0,0,0.25);
}

#msgHeaderViewDeck {
  background-color: #282c3a !important;
  padding: 10px !important;
  border-bottom: 0 !important;
  margin-bottom: 0 !important;
}

/* flatify header (remove additional bottom border) */
#msgHeaderView {
    border-bottom: 0 !important;
}

#msgHeaderViewDeck label {
    font-size:10pt !important;
}

#expandedsubjectBox .headerValue {
    font-size:10pt !important;
}

#msgHeaderViewDeck label#CompactHeader_collapsedsubjectlinkBox, #CompactHeader_collapsed1LsubjectBox .headerValue, #CompactHeader_collapsed2LsubjectBox .headerValue {
    text-decoration: none !important;
    margin-bottom: 5px !important;
    margin-top: 0 !important;
    -moz-appearance: none !important;
    font-size:10pt !important;
    line-height: 100% !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 12pt !important;
    height: 12pt !important;
    max-height: 12pt !important;
    vertical-align: top !important;
}

/*
* the message preview pane itself
*/
#messagepanebox {
  margin: 0 0 0 0 !important;
  padding: 0 !important;
  background-color: #2c2d2e !important;
  border-bottom: 1px solid -moz-dialog !important;
}

/* the message container (the part that displays the message, without header area) */
#messagepane {
  margin:0 0 !important;
  padding: 0 10px !important;
  background-color: #2c2d2e !important;
}

#expandedtagsRow {
    display: none !important;
}

#item-description {
}

#content-frame {
  min-width: 10px;
  min-height: 10px;
  height: 400px;
  font-family: 'Liberation Mono',Consolas,monospace !important;
  font-size: 12pt !important;
}
/*
* Minor UI tweaks for the thunderbird-conversations addon. You can delete this
* section if you do not use that addon. Or leave it here; it does not touch
* anything else.
*/
@-moz-document url(chrome://conversations/content/stub.xhtml)
{

    /* changes background color of the message body*/

    body
    {
        background-color: #FFF !important;
    }

    /* eliminates the box shadow */

    #conversationHeaderWrapper
    {
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    /* changes attributes of the conversation header */

    #conversationHeader
    {
        padding: 4px 10px !important;
        background-image:none !important;
        min-height: 33px !important;
        max-height: 33px !important;
    }

    /*
    * the subject in the message header. Center it vertically, adjust the
    * height of the subject bar.
    */

    .subject
    {
        font-weight: bold !important;
        padding-top: 0px !important;
        padding-bottom: 12px !important;
        margin-top: 0px !important;
        margin-bottom: 12px !important;
        font-size: 12pt !important;
    }

    /*
    * more subtle (= brighter) border around the message. Remove the box
    * shadow and rounded corners.
    */

    .message
    {
        border: 1px solid #ccc !important;
        -moz-box-shadow: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        font-size: 12pt !important;
    }

    #folderpane-title {
        font-size: 1.2em !important;
        font-weight: bold !important;
    }
}
